.card-container {
  transition: .75s;
  transform-style: preserve-3d;
  box-sizing: border-box;
  position: relative;
}

.card {
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold; 
  margin: auto;
  display: flex;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.card.index-card {
  font-size: 60px;
  border: 5px solid white;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.37, #63F5F0),
    color-stop(0.79, #3C92EE)
  );
  background-image: -o-linear-gradient(bottom, #63F5F0 37%, #3C92EE 79%);
  background-image: -moz-linear-gradient(bottom, #63F5F0 37%, #3C92EE 79%);
  background-image: -webkit-linear-gradient(bottom, #63F5F0 37%, #3C92EE 79%);
  background-image: -ms-linear-gradient(bottom, #63F5F0 37%, #3C92EE 79%);
  background-image: linear-gradient(to bottom, #63F5F0 37%, #3C92EE 79%);  border-style: groove;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.card.value-card {
  font-size: 60px;
  border: 5px solid dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3278e6; /* Old browsers */
  background: -moz-linear-gradient(top,  #3278e6 0%, #41a0f0 50%, #143caa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3278e6 0%,#41a0f0 50%,#143caa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3278e6 0%,#41a0f0 50%,#143caa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3278e6', endColorstr='#143caa',GradientType=0 ); /* IE6-9 */
}

.index-card.admin {
  font-size: 30px;
}

.answer-text {
  float: left;
}

.answer-value {
  float: right;
  width: 25%;
  border: 2px solid red;
}

.card.is-flipped {
  transform: rotateX(-180deg)
}

.card__face {
  position: absolute;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateX(-180deg)
}

.index {
  width: 20%;
  background-color: blue;
  border: 2px solid white;
  border-radius: 100%;
}